p{
    color: rgb(48, 8, 86);
}
h2{
    color: rgb(212, 33, 33);
}
h3{
    color: rgb(48, 237, 19); background-color: rgb(151, 187, 68);
}
.a1{
    background-color: rgb(127, 255, 136);
    color: blue;
}
.a2{
    color: rgb(246, 4, 230);
   
}