.a1{
    background-color: rgb(252, 159, 125);
    color: blue;
}

.a2{
    background-color: aqua;
    color: rgb(255, 0, 30);
    font-size: 30px
}
marquee{
    background-color: rgb(176, 246, 35);
}
summary{
    color: rgb(239, 113, 22);
}
p{
    color: rgb(42, 65, 165);
    font-size: 18px;
}
a:link {
    color: rgb(255, 0, 136);
  }
  
 
  a:visited {
    color: rgb(168, 75, 94);
  }
  

  a:hover {
    color: rgb(206, 203, 206);
    background-color: rgb(253, 15, 245);
  }
  

  a:active {
    color: blue;
  }
  a{
    text-decoration: none;
    font-size: 18px;
  }
  *{
    margin: 0px;
  }
